{% extends 'layout.html.twig' %}

{% set adminMenu = true %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row commentaire">
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <div class="comment">
        <form name="article" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label required" for="article_title">Title</label>
                <div class="col-sm-6">

                    <input type="text" id="article_title" name="article[title]" required="required" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label required" for="article_content">Content</label>
                <div class="col-sm-6">

                    <textarea id="article_content" name="article[content]" required="required" class="form-control" rows="8"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock %}