{% extends 'layout.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block content %}
<div class="row commentaire">
    <h2>Si vous désirez vous abonner à ma newsletter, c'est ici</h2><br>
    <div class="well ">
        <div class="col-sm-offset-8 ">
        <form name="newsletter" method="post" onsubmit="return validernewsletter()">
            <div class="form-group ">
                <label for="newsletter_name" class="required">Nom : </label> 
                <input type="text" id="newsletter_name" name="newsletter[name]" required="required" rows="1" class="form-control" placeholder="Entrez votre nom et prénom" /><br>    
                <label for="newsletter_email" class="required">Email : </label>            
                <input type="email" id="newsletter_email" name="newsletter[email]" required="required" rows="1" class="form-control" placeholder="Entrez votre email ici" required="required" /><br>                  
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="s'abonner" />
            </div>
         </form>
         </div>
    </div>      
</div>

{% endblock %}