
/*---------style entête--------*/

header{
    background-color: white;
    padding-bottom: 0px;
    
}


 header h3{
    color:slategray;
     font-size: 20px;
     font-family: fantasy;
     font-style: italic;
     margin-left: 20px;
     margin-right: 20px;
}

header img
{

 width: 20%;   
}


/*-----------style corps de page----------------*/
body
{
   background-image: url("../image/fond5.jpg");
    
   
}


/*------------style pied de page--------------*/
footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

    /*boutons pied de page*/ 
   .btn-default{
     width: 45px;
      height: 45px;

    }
.fa{
    margin-top: 2px;
}

/*--------------style page home--------------*/

.home{
    margin-top:40px;
    margin-left: 100px;
    margin-right:0px;
    margin-bottom:40px;
}

.article{
    background-color: white;
    box-shadow: 6px 6px 10px black;
    padding-bottom: 30px;
    
    
}

.introduce{
    background-color: white;  
    margin-top: 20px;
    padding:10px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    
}

.connexion{
    background-color: white;  
    margin-top: 20px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    
}

.date{
    background-color: #5bc0de;
    color: white;
    
    margin-top: 110px;
    margin-left: -20px;
    border-left: 3px solid #16a0bd;
    border-bottom: 3px solid #16a0bd;
}

.date h4{
    font-size: 15px;
    padding-left: 20px;
}
.date h5{
    
    padding-left: 20px;
}


.texte{
    text-align: justify;
    
    
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding-bottom 20px;
}


/*style menu de navigation*/

.navbar{
    
    margin-bottom: 0px;
       
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#menu a{
    color: blue;
   
    text-align: center;
       
}

img{
    width:100%;
    margin-bottom: 20px;
}
.row .article{
    margin-top: 20px;
}

 

          .introduce h1{
    color: #5bc0de;
    text-align: center; 
    
              margin-bottom: 20px;
          }
/*--------------style page article--------------*/
.commentaire{
    background-color: white;  
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 6px 6px 10px black;
    
    
}

.commentaire .comment{
    background-color: white;  
    border: 2px, solid, black;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 6px 6px 10px darkgrey;
    
    
}

.initiale  {
    background-color: #5bc0de;  
    border: 2px, solid, black;
    font-size: 30px;
    color:white;
    box-shadow: 6px 6px 10px darkgrey;
  margin-bottom: 40px;
    border-radius: 30px;
    
}

 .initiale p{
    color:black;
     font-size: 12px;
     font-style: italic;
}

.reponseinitiale {
    background-color: skyblue;  
    border: 2px, solid, black;
    font-size: 20px;
    color:white;
    box-shadow: 6px 6px 10px darkgrey;
  
    border-radius: 20px;
    margin-bottom: 10px;
    
}

.commentaire h2{
    background-color: #5bc0de; 
    padding:10px;
    color: white;
    margin-left: -40px;
    box-shadow: 6px 6px 10px black;
    margin-right: -25px;
    
}
.presentation h2{
    background-color: #5bc0de; 
    padding:10px;
    color: white;
    margin-left: -40px;
    box-shadow: 6px 6px 10px black;
    margin-right: -25px;
    
}
.presentation img{
    background-color: #5bc0de; 
    padding:10px;
    color: white;
    margin: 10px;
    box-shadow: 6px 6px 10px black;
    margin-top:20px;
   margin-right:20px;
    
    
}



.reponse{
    background-color: #ececec;
    border: 2px, solid, black;
    margin: 20px;
    Margin-left:200px;
    
    padding: 20px;
    box-shadow: 6px 6px 10px darkgrey;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}


.well {
   background-image: url("../image/banner.jpeg");
 background-size: 100% 110%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.message {
   background-image: url("../image/message.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    padding: 20px;
    

}

#misenforme{
    padding-right: 20px;
}

.message h5{
    color:white;
    font-size: 15px;
    padding-left: 20px;
    text-align: justify;
    padding-top: 30px;
    font-size: 20px;
    
}

.textnews{
    color:#5bc0de;
    font-size: 20px;
    padding-left: 20px;
    text-align: justify;
    padding-top: 30px;
    font-size: 20px;
    font-style: italic;
    
}


#bubble{
  position: relative;
  right:50px;
  background-color:white;
  text-align:center;
  width:200px;
  height:100px;
  border:2px solid #555555;
  border-radius:60px 40px;
  border-top-left-radius:60px 40px;
  border-bottom-right-radius:80px 40px;
  border-bottom-left-radius:80px 40px; 
}

#arrow_border{
  width:0;
  height:0;
  line-height:0;
  border-bottom:20px solid #ececec;
    border-top:20px solid transparent;
  border-left:20px solid transparent;
  border-right:20px solid #ececec; /* couleur de la bordure de la bulle */
  position:absolute;
    top:15px;
    right: 30px;
  
  
}

.contentcomment{
    background-color:#ececec;
    margin-left:-30px;
    padding: 15px;
    text-align: justify;
    
}
.lecture{
    background-color:#ececec;
    margin-left:30px;
    padding: 10px;
    text-align: justify;
    border: 2px solid grey;
    
}
#titlemessage{
    color:#5bc0de;
    text-decoration:underline;
}
#boutonretour{
    padding-top: 40px;
}




/* Styles pour les smartphones */

         @media (max-width: 768px) {
            .date{
         
            color: white;
            margin-top: 30px;
            } 
          .home{
    
            margin-left: 40px;
            margin-right:40px;
            margin-bottom:40px;
            }        
          header img
            {

         width: 40%; 
                
                
            } 
                   .commentaire .comment{
    background-color: white;  
    border: 2px, solid, black;
    margin: 0px;
    margin-left: 40px;
    margin-right: 0px;
    padding: 10px;
    box-shadow: 6px 6px 10px darkgrey;
    
    
}
             .commentaire{
    background-color: white;  
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-shadow: 6px 6px 10px black;
    
    
}
    .reponse{
    background-color: #ececec;
    border: 2px, solid, black;
    margin: 20px;
    Margin-left:50px;
    
    padding: 20px;
    box-shadow: 6px 6px 10px darkgrey;
}      
      }
        

      /* Styles pour les tablettes */
      @media (min-width: 768px) {
                   .home{
    
    margin-left: 40px;
    margin-right:40px;
    margin-bottom:40px;
          
        
      }
    
    
          
     }  



